<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <!-- <p class="site-desc">{{ site.description | escape }}</p> -->
        <br>
      <!-- <div class="row">
        <div class="col-sm-3">
          <img class="logo" src="{{ site.baseurl }}/assets/img/logo_v2.png" alt="TVML Logo">
        </div>
        <div class="col-sm-7">
          <h5>More Resources</h5>
          <div class="row m-0">
            <div class="col-sm">
                <ul>
                    <li>
                        <a href="">That Maeve link</a>
                    </li>
                    <li>
                        <a href="">Another affiliate</a>
                    </li>
                    <li>
                        <a href="">Another affiliate</a>
                    </li>
                  </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <li>
                        <a href="">Another affiliate</a>
                    </li>
                    <li>
                        <a href="">Another affiliate</a>
                    </li>
                    <li>
                        <a href="">Another affiliate</a>
                    </li>
                  </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <li>
                        <a href="">Another affiliate</a>
                    </li>
                    <li>
                        <a href="">Another affiliate</a>
                    </li>
                    <li>
                        <a href="">Another affiliate</a>
                    </li>
                  </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-2 socials">
            <h5>Socials</h5>
            <a href="#">
                <img src="{{ site.baseurl }}/assets/img/facebook.png">
            </a>
            <a href="#">
                <img src="{{ site.baseurl }}/assets/img/instagram.png">
            </a>
        </div>
      </div>
  
    </div> -->
  
  </footer>