---
---
$primary:       {{site.primary-color}};
$secondary:     {{site.secondary-color}};
$success:       {{site.success-color}};
$info:          {{site.info-color}};
$warning:       {{site.warning-color}};
$danger:        {{site.danger-color}};
$light:         {{site.light-color}};
$dark:          {{site.dark-color}};

@import "{{ site.theme }}";
@import 'bootstrap/bootstrap';

//** 
//** MINIMA OVERWRITES
//**
.page-content {
    padding: 0px;
}
article {
    padding: 25px 0px;
}

//** 
//* GENERAL 
//**
.wrapper {
    max-width: 1100px;
}
.highlight-block {
    background-color: {{site.light-color}}; //#e6e6e6
    padding: 25px;
}

//** 
//* TYPOGRAPHY 
//**
h3 {
    color: #589390;
}
a {
    color: {{site.primary-color}};
    text-decoration: none;
}
a:visited {
    color: {{site.secondary-color}}; // This may need to be changed
}
a:hover {
    color: {{site.primary-color}};
    text-decoration: underline;
}
a.highlighted {
    color: {{site.secondary-color}};
    text-decoration: underline;
}
p.display-5 {
    font-size: 1.5rem;
}
.text-underline {
    text-decoration: underline !important;
}
a.post-link,
a.announcement-link,
button a {
    color: {{site.dark-color}};
    text-decoration: none;
}
//** 
//* BUTTONS 
//**
button.btn.btn-outline {
    color: {{site.primary-color}}!important;
    border-color: {{site.primary-color}}!important;
    border: 2px solid {{site.primary-color}}!important;
    background-color: transparent!important;
}
button.btn.btn-outline a,
button.btn.btn-outline a:visited {
    color: {{site.primary-color}}!important;
}

//** 
//* SOCIAL BAR 
//**
.social-bar {
    background-color: {{site.dark-color}};
    min-height: 30px;
}
.social-bar .social-media-list{
    float: right;
}
.social-bar .social-media-list li {
    display: inline-block;
}
.social-bar .svg-icon {
    width: 25px;
    height: 25px;
}
.social-bar .username {
    display: none;
}

//** 
//* HEADER 
//**
.site-nav {
    line-height: initial;
}
a.nav-link {
    color: black;
    padding: 1rem!important;
    text-decoration: none;
}
a.nav-link:hover {
    color: {{site.primary-color}};
}
li.nav-link.dropdown-toggle {
    padding: 1rem !important;
}
.dropdown-toggle:hover .dropdown-menu {
    display: block!important;
}
li.nav-link {
    position: relative!important;
}
.logo-icon {
    height: 50px;
    margin: 8px 0;
}
.logo-text {
    font-size: 31px;
    padding: 12px;
    font-weight: bold;
    height: 50px;
    vertical-align: middle;
    color: rgb(233, 147, 179);
}
//** 
//* FOOTER 
//**
.site-footer {
    background-color: {{site.dark-color}};
    color: white;
}
.socials img {
    height: 32px;
    display: inline;
    margin: 10px 5px 0 0;
}
.site-footer img.logo {
    max-height: 150px;
}
//** 
//* BANNER 
//**
.banner {
    position: relative;
    margin: 50px 0;
}
.banner h2 {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 40px;
}
.banner img {
    position: relative;
    display: block;
    border: 10px solid #bed7d6;
    border-radius: 1000px;
    width: 450px;
    height: 450px;
    float: right;
}
.banner-text {
    transition: .4s;
}
.banner-text .sq-border {
    position:relative;
    margin: 20px;
    padding: 15px;
}
.banner-text .sq-border:before, .banner-text .sq-border:after, .banner-text .sq-border>:first-child:before, .banner-text .sq-border>:first-child:after {
    position:absolute;
    width:80px; height: 80px;
    border-color:#bed7d6; /* or whatever colour */
    border-style:solid; /* or whatever style */
    content: ' ';
    padding: 20px;
    margin: -20px;
}
.banner-text .sq-border:before {top:0;left:0;border-width: 10px 0 0 10px}
.banner-text .sq-border:after {top:0;right:0;border-width: 0px 0px 0 0}
.banner-text .sq-border>:first-child:before {bottom:0;right:0;border-width: 0 10px 10px 0}
.banner-text .sq-border>:first-child:after {bottom:0;left:0;border-width: 0 0 0px 0px}

//** 
//* PAGINATION 
//**
ul.pagination {
    margin-left: 0px;
}

//** 
//* HOME PAGE
//**
.mission.card {
    margin-top: 50px;
    background-color: #bed7d6;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 40px 50px;
}
.mission .card-header {
    border: none;
    background-color: transparent;
    font-size: 24px;
    padding: 0px;
}
.mission .card-body {
    padding: 0px;
}
.mission img {
    border-radius: 10px;
}

//** 
//* GRIDS
//**
.w-70 {
    width: 70% !important;
}

// Mobile styling
@media only screen and (max-width: 991px) {
    .w-70 {
        width: 100% !important;
    }
}
  

.event-list {
    padding: 20px 30px;
    border-radius: 20px 0 0 20px;
    background-color: #e1f0fb;
    // background: linear-gradient(226deg, rgb(20 99 143 / 15%) 34%, rgb(246 248 250) 100%);
}
.announcement-list {
    background-color: whitesmoke;
    padding: 20px 30px;
}


.boxes .col-lg {
    border: 3px solid #bed7d6;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px;
}
.solid-block {
    background-color: #bed7d6;
    border-radius: 10px;
    padding: 20px;
}
.subtitle {
    color: #4f7a79;
    // color: #1d8884;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
.solid-block img {
    height: 32px;
    margin: 0px 10px 0 0;
}
.solid-block h4{
    border-bottom: 2px solid #96b9b88f;
    padding-bottom: 5px;
    margin-bottom: 14px;
    color: #304f4e;
}
.site-footer ul {
    list-style: none;
    margin-left: 0px;
}
h5 {
    letter-spacing: 1px;
}
.site-footer .site-desc {
    color: #bed7d6;
    font-weight: bold;
}
//** 
//* MEETINGS PAGE 
//**
.meeting-hero {
    background: linear-gradient(135deg, {{site.primary-color}} 0%, {{site.secondary-color}} 100%);
    padding: 60px 0;
    margin: -25px 0 0 0;
}
.meeting-hero h2 {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.meeting-hero .subtitle {
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}
.contact-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
}
.contact-card h4 svg {
    vertical-align: top;
}
.contact-card .contact-info {
    border-left: 3px solid #96b9b88f;
    padding-left: 15px;
}
.contact-card .btn {
    font-weight: 500;
}
.highlight-block {
    border-left: 4px solid {{site.primary-color}};
}

// Mobile responsive improvements for meetings page
@media only screen and (max-width: 991px) {
    .meeting-hero {
        padding: 40px 20px;
        text-align: center;
    }
    .meeting-hero h2 {
        font-size: 28px;
    }
    .contact-card {
        margin-top: 20px;
    }
}
